<div id="map" class="map"></div>
<div id="map-info" class="map-info" *ngIf="gridLayer10.getVisible()">
    <ng-container *ngIf="drawingAndVisibleGrid()">
        <label>{{'DRAW_TYPE_TITLE' | translate}}</label>
        <div id="selection-type">
            <div class="radio-row" (click)="onDrawModeChange('SINGLE')">
                <input type="radio" name="selection" [checked]="currentDrawStyle === 'SINGLE'">
                <label class="radio-label">{{'SINGLE_SELECT' | translate}}
                </label>
            </div>
            <div class="radio-row" (click)="onDrawModeChange('BOX')">
                <input type="radio" name="selection" [checked]="currentDrawStyle === 'BOX'">
                <label class="radio-label">{{'BOX_SELECT' | translate}}
                </label>
            </div>
            <div class="radio-row" (click)="onDrawModeChange('POLYGON')">
                <input type="radio" name="selection" [checked]="currentDrawStyle === 'POLYGON'">
                <label class="radio-label">{{'POLYGON_SELECT' | translate}}
                </label>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="!drawingAndVisibleGrid()">
        <label>{{'ZOOM_TO_DRAW' | translate}}</label>
    </ng-container>
</div>