<nav class="sidebar-component navbar">
  <a class="navbar-brand">
    <img class="gbp-logo" src="/assets/img/gbp-logo.png" alt="GroeneBatenPlanner">
  </a>
  <div class="menu-buttons">
    <button type="button" class="btn" [ngClass]="{'active': activeMenu === 'REFERENCE'}" (click)="onMenuClick('REFERENCE')">
      <svg-icon src="assets/img/main-menu-reference.svg" [ngClass]="{'active': activeMenu === 'REFERENCE'}"></svg-icon>
      {{'BUTTON_REFERENCE' | translate}}
    </button>
    <button type="button" class="btn" [ngClass]="{'active': activeMenu === 'SCENARIO'}" (click)="onMenuClick('SCENARIO')" [disabled]="!projectService.currentProject.reference">
      <svg-icon src="assets/img/main-menu-scenario.svg" [ngClass]="{'active': activeMenu === 'SCENARIO', 'disabled': !projectService.currentProject.reference}"></svg-icon>
      {{'BUTTON_SCENARIO' | translate}}
    </button>
    <button type="button" class="btn" [ngClass]="{'active': activeMenu === 'RESULT'}" (click)="onMenuClick('RESULT')" [disabled]="!projectService.hasResults()">
      <svg-icon src="assets/img/main-menu-result.svg" [ngClass]="{'active': activeMenu === 'RESULT', 'disabled': !projectService.hasResults()}"></svg-icon>
      {{'BUTTON_RESULT' | translate}}
    </button>
    <button type="button" class="btn" [ngClass]="{'active': activeMenu === 'LAYERS'}" (click)="onMenuClick('LAYERS')" [disabled]="!projectService.hasResults()">
      <svg-icon src="assets/img/main-menu-maplayers.svg" [ngClass]="{'active': activeMenu === 'LAYERS', 'disabled': !projectService.hasResults()}"></svg-icon>
      {{'BUTTON_MAPLAYERS' | translate}}
    </button>
    <button type="button" class="btn" [ngClass]="{'active': activeMenu === 'SETTINGS'}" (click)="onMenuClick('SETTINGS')">
      <svg-icon src="assets/img/main-menu-settings.svg" [ngClass]="{'active': activeMenu === 'SETTINGS'}"></svg-icon>
      {{'BUTTON_SETTINGS' | translate}}
    </button>
  </div>
</nav>
