@import 'variables.scss';
.sidebar-component {
  height: 100%;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  .navbar-brand {
    padding-top: 0;
    margin-right: 0;
  }
  .gbp-logo {
    padding-top: 0rem;
    width: 100%;
  }
  .btn {
    font-family: 'RO-Sans-Text';
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: rgba(0, 0, 0, 0.54);
    &.active {
      color: map-get($theme-colors, "primary");
    }
    &:not(:disabled):hover:not(.active) {
      color: rgba(0, 0, 0, 0.87);
    }
  }
  svg-icon {
    width: 3rem;
  }
}