@import 'variables.scss';

.layers-component {
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
  border-right-color: $side-bar-background;
  border-right-style: solid;
  border-right-width: 2px;
  &.closed-menu {
    display: none;
  }

  .header {
    display: flex;
    padding: 0.5rem;

    .btn-secondary {
      &:not(:disabled):not(.disabled).active {
        color: white;
        background-color: map-get($theme-colors, "primary");
        border-color: map-get($theme-colors, "primary");
      }
    }
 
  }

}