@import 'variables.scss';

.table-component {
  background-color: $side-bar-background;
  height: 100%;
  padding-left: 2rem;

  .header {
    font-size: 22px;
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-family: 'RO-Sans-Text';
  }

  table {
    th {
      padding-right: 1rem;
    }
  }
}