// $FontPathOpenSans: 'Open Sans', sans-serif !default;
// app colors
$theme-colors: ( primary: #5F9600);
$checkbox-color: map-get($theme-colors, "primary");
// header sizes
$top-header-size: 90px;
$nav-bar-width: 100px;
$menu-bar-width: 350px;
$toolbar-size: 50px;
.btn-primary {
  font-size: 15px;
  background-color: map-get($theme-colors, "primary");
  &:hover {
    color: white;
    background-color: map-get($theme-colors, "primary");
  }
  &:focus {
    color: white;
    background-color: map-get($theme-colors, "primary");
  }
  &:not(:disabled):not(.disabled):active {
    color: white;
    background-color: map-get($theme-colors, "primary");
  }
}

.btn-secondary {
  font-size: 15px;
  background-color: white;
  border-width: 1px;
  border-color: map-get($theme-colors, "primary");
  color: map-get($theme-colors, "primary");
  &:hover {}
  &:focus {}
  &:not(:disabled):not(.disabled):active {
    color: white;
    background-color: map-get($theme-colors, "primary");
    border-color: map-get($theme-colors, "primary");
  }
}