// app colors
$theme-colors: ( primary: #61a60e);
$checkbox-color: map-get($theme-colors, "primary");
$side-bar-background: #F5F5F5;
$menu-bar-background: #F5F5F5;
$result-scenario-background: #E6E6E6;
// header sizes
$top-header-size: 90px;
$nav-bar-width: 100px;
$menu-bar-width: 350px;
$result-bar-width: 50px;

/* Font RijksoverheidSansText */

@font-face {
  font-family: 'RO-Sans-Text';
  src: url(/assets/fonts/ROsanswebtextregular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RO-Sans-Text';
  src: url(/assets/fonts/ROsanswebtextitalic.woff) format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'RO-Sans-Text';
  src: url(/assets/fonts/ROsanswebtextbold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}

/* Font RijksoverheidSerif */

@font-face {
  font-family: 'RO-Serif';
  src: url(/assets/fonts/ROserifwebregular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RO-Serif';
  src: url(/assets/fonts/ROserifwebitalic.woff) format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'RO-Serif';
  src: url(/assets/fonts/ROserifwebbold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}

/* Font RijksoverheidSansHeading */

@font-face {
  font-family: 'RO-Sans-Heading';
  src: 'assets/fonts/rijksoverheidsansheading-regular_2_0.ttf' format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RO-Sans-Heading';
  src: 'assets/fonts/rijksoverheidsansheading-italic_2_0.ttf' format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'RO-Sans-Heading';
  src: 'assets/fonts/rijksoverheidsansheading-bold_2_0.ttf' format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'RO-Sans-Heading';
  src: 'assets/fonts/rijksoverheidsansheading-bolditalic_2_0.ttf' format('truetype');
  font-weight: bold;
  font-style: italic;
}

body {
  font-family: 'RO-Sans-Text', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'RO-Sans-Heading', Arial, Sans-Serif;
}