/* This file is for setting global styles  */
@import "variables.scss";
/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
// Import Reboot
@import "~bootstrap/scss/reboot";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~leaflet/dist/leaflet.css";
@import "~ol/ol.css";
@import "~material-design-icons-iconfont/dist/material-design-icons.css";


.btn-primary {
  font-size: 22px;
  border-width: 0;
  color: white; 
  background-color:  map-get($theme-colors, "primary");
  &:hover {
    color: white; 
    background-color:  map-get($theme-colors, "primary");
  }
  &:focus {}
  &:not(:disabled):not(.disabled):active {
    background-color: white;
    color: map-get($theme-colors, "primary");
  }
}

.btn-secondary {
  font-size: 22px;
  border-width: 0;
  background-color: white;
  color: map-get($theme-colors, "primary");
  &:hover {
    background-color: white;
    color: map-get($theme-colors, "primary");
  }
  &:focus {}
  &:not(:disabled):not(.disabled):active {
    color: white; 
    background-color:  map-get($theme-colors, "primary");
  }
}

.control-label {
  font-weight: bold;
}

.form-control {
  border: none;
  height: 30px;
  font-size: 15px;
  font-family: 'RO-Sans-Text';
  &:focus {
    box-shadow: none;
  }
}

.btn {
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 0;
  &:focus {
    box-shadow: none;
  }
}

.validated .form-control.ng-untouched
.validated .form-control.ng-invalid {
  border-style: solid;
  border-width: 2px;
  border-color: red;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

svg-icon {
  width: 2rem;
  fill: rgba(0, 0, 0, 0.87);
  &.active {
    fill: map-get($theme-colors, "primary");
  }
  &:hover {
    fill: map-get($theme-colors, "primary");
  }
  &.disabled {
    fill: rgba(0, 0, 0, 0.54);
  }
}
