@import 'variables.scss';
.measure-component {
  overflow-y: auto;
}

.collapse-button {
  display: flex;
}

.measure-panel {
  padding-left: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.measure-row {
  padding-bottom: 0.5rem;
}

.okay-button {
  margin-left: auto;
}

.save-cancel {
  padding-left: 1rem;
  padding-right: 0.5rem;
}

.no-measure {
  background-color: white;
  padding-left: 0.5rem;
  font-size: 15px;
}

