@import 'variables.scss';
$measure-colors: (first: #D63327, second: #93278F);
.collapse-button {
  display: flex;
}

.svg-collapse {
  fill: map-get($measure-colors, "first");
  &:not(.disabled):hover:not(.active) {
    fill: map-get($measure-colors, "first");
  }
}

svg-icon {
  width: 2rem;
  fill: rgba(0, 0, 0, 0.54);
  &.active {
    fill: map-get($theme-colors, "primary");
  }
  &:not(.disabled):hover:not(.active) {
    fill: rgba(0, 0, 0, 0.87);
  }
}

.measure-panel {
  padding-left: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.measure-row {
  padding-bottom: 0.5rem;
}

.okay-button {
  margin-left: auto;
}

.save-cancel {
  padding-left: 1rem;
  padding-right: 0.5rem;
}