<div class="measure-component container" [formGroup]="measureForm">
  <div formArrayName="measures">
    <div class="measure-section" *ngFor="let measure of measures.controls; let i=index" [formGroupName]="i">
      <div class="form-group row">
        <button type="button" class="btn collapse-button col-sm-2" (click)="onOpenMeasure(i)">
          <svg-icon *ngIf="openMeasure !== i" src="assets/img/ui-measure-open.svg"></svg-icon>
          <svg-icon *ngIf="openMeasure === i" src="assets/img/ui-measure-closed.svg"></svg-icon>
        </button>
        <input type="text" placeholder="{{('MEASURE_NAME_PLACEHOLDER' | translate) + (i + 1)}}" id="name"
          formControlName="name" class="form-control col-sm-8">
        <div id="collapseBasic" [collapse]="openMeasure === i" class="col-sm-10 offset-2 measure-panel">
          <input type="text" id="id" formControlName="id" class="form-control col-sm-1" hidden>
          <div class="">
              <div class="row col-sm-6">
                <label class="control-label" for="land-use">{{'LANDUSE' | translate}}</label>
              </div>
               <div class="row col-sm-10">
                <select id="detour-direction" class="form-control" formControlName="landuse">
                  <option *ngFor="let landuseValue of landUseValues" [ngValue]="landuseValue">{{'LANDUSE_'
                    + landuseValue | translate}}</option>
                </select>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>