@import 'variables.scss';
.menubar-component {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  justify-content: flex-start;
}

.header {
  font-size: 22px;
  padding-bottom: 1rem;
  font-family: 'RO-Sans-Text';
}

.round-button-one-item {
  border-radius: 20px 20px 20px 20px;
}

.round-button-start {
  border-radius: 20px 0px 0px 20px;
}

.round-button-middle {
  border-radius: 0px 0px 0px 0px;
}

.round-button-end {
  border-radius: 0px 20px 20px 0px;
}

.btn-secondary {
  &:not(:disabled):not(.disabled):active {
    color: white;
    background-color: map-get($theme-colors, "primary");
  }
}

.description {
  font-size: 15px;
  padding-top: 1rem;
}
