@import 'variables.scss';

.reference-component {
  padding: 0.5rem
}

.btn-secondary {
  &:not(:disabled):not(.disabled).active {
    color: white;
    background-color: map-get($theme-colors, "primary");
    border-color: map-get($theme-colors, "primary");
  }
}

.round-button-start, .round-button-end {
  font-size: 15px;
  height: 30px;
  border-color: map-get($theme-colors, "primary");
  border-width: 1px;
}