@import 'variables.scss';

.btn-secondary {
  &:not(:disabled):not(.disabled).active {
    color: white;
    background-color: map-get($theme-colors, "primary");
    border-color: map-get($theme-colors, "primary");
  }
}