<div class="reference-component">
  <div class="header">{{'REFERENCE' | translate}}</div>
  <div>
    <button type="button" class="btn btn-secondary default-ref" [ngClass]="{'active': projectService.currentProject.reference === 'DEFAULT'}" (click)="projectService.currentProject.reference = 'DEFAULT'">{{ 'DEFAULT_REFERENCE' | translate }}</button>
    <button type="button" class="btn btn-secondary updated-ref" [ngClass]="{'active': projectService.currentProject.reference === 'SCENARIO'}" (click)="projectService.currentProject.reference = 'SCENARIO'">{{ 'UPDATED_REFERENCE' | translate }}</button>
  </div>
</div>