@import 'variables.scss';
:host {
  width: 100%;
}

.result-component {
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
  border-right-color: $side-bar-background;
  border-right-style: solid;
  border-right-width: 2px;
  &.closed-menu {
    display: none;
  }

  .header {
    display: flex;
    padding: 0.5rem;

    .btn-secondary {
      &:not(:disabled):not(.disabled).active {
        color: white;
        background-color: map-get($theme-colors, "primary");
        border-color: map-get($theme-colors, "primary");
      }
    }
 
  }

  .sub-header {
    height: 50px;
    width: 100%;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    background-color: $menu-bar-background;

    .pager {
      display: flex;
      flex-direction: row;
    }
    
    .btn.pager-number {
      font-family: 'RO-Sans-Text';
      font-size: 14px;
      font-weight: bold;
      color: map-get($theme-colors, "primary");
      border-color: map-get($theme-colors, "primary");
      &:not(:disabled):not(.disabled).active {
        color: white;
        background-color: map-get($theme-colors, "primary");
      }
      &:hover {
        color: white;
        background-color: map-get($theme-colors, "primary");
      }
    }
  }
}

.result-content {
  padding: 0.5rem;
  .scenario-name {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $result-scenario-background;
    font-weight: bold;
  }
  .measures {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    .measure-name {
      display: flex;
      padding-left: 10px;
      padding-right: 10px;
      background-color: $side-bar-background;
    }
  }

  .ha-size {
    margin-left: auto;
  }
}

.save-cancel {
  padding-right: 20px;
  .export {
    margin-top: 5px;
    margin-left: auto;
  }
}

.resultbar {
  position: fixed;
  left: calc(#{$nav-bar-width});
  top: 0;
  bottom: 0;
  z-index: 1050;
  &.open-menu {
    left: calc(#{$nav-bar-width} + #{$menu-bar-width});
  }
}

