@import 'variables.scss';
:host {
  width: 100%;
}

.result-component {
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
  border-right-color: $side-bar-background;
  border-right-style: solid;
  border-right-width: 2px;
  &.closed-menu {
    display: none;
  }

  .header {
    padding: 0.5rem;
  }

  .sub-header {
    height: 43px;
    width: 100%;
    padding: 0.5rem 0.5rem 0 0.5rem;
    background-color: $menu-bar-background;
  }
}

.result-content {
  padding: 0.5rem;
  .scenario-name {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $result-scenario-background;
    font-weight: bold;
  }
  .measures {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    .measure-name {
      display: flex;
      padding-left: 10px;
      padding-right: 10px;
      background-color: $side-bar-background;
    }
  }

  .ha-size {
    margin-left: auto;
  }
}

.save-cancel {
  padding-right: 20px;
  .export {
    margin-top: 5px;
    margin-left: auto;
  }
}

.resultbar {
  position: fixed;
  left: calc(#{$nav-bar-width});
  top: 0;
  bottom: 0;
  z-index: 1050;
  &.open-menu {
    left: calc(#{$nav-bar-width} + #{$menu-bar-width});
  }
}

