@import 'variables.scss';
:host {
  width: 100%;
}

.scenario-component {
  .header {
    padding: 0.5rem
  }
}

.btn-secondary {
  &:not(:disabled):not(.disabled).active {
    color: white;
    background-color: map-get($theme-colors, "primary");
    border-color: map-get($theme-colors, "primary");
  }
}
.nav-header {
  background-color: $menu-bar-background;
}

.pager {
  display: flex;
  flex-direction: row;
  height: 43px;
  width: 100%;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

.pager-number {
  font-family: 'RO-Sans-Text';
  font-size: 14px;
  font-weight: bold;
}

.scenario-form {
  background-color: $menu-bar-background;
}

.scenario-content {
  padding: 0.5rem;
}
.delete {
  margin-left: auto;
}

.btn {
  color: rgba(0, 0, 0, 0.54);
  &.active {
    color: map-get($theme-colors, "primary");
  }
  &:not(:disabled):hover:not(.active) {
    color: rgba(0, 0, 0, 0.87);
  }
}

// TODO move to global style
.row {
  margin-right: 0;
  margin-left: 0;
}