<div class="scenario-component">
  <div class="header">{{'SCENARIO' | translate}}</div>
  <div class="nav-header">
    <div class="pager">
      <div *ngFor="let scenario of scenarios; let i = index">
        <button type="button" class="btn btn-secondary pager-number" [ngClass]="{'active': i === currentScenarioIndex, 'round-button-start': i===0,
          'round-button-middle': i!==0 && i < MAX_SCENARIO_THRESHOLD - 1,
          'round-button-end': i===MAX_SCENARIO_THRESHOLD - 1}"
          (click)="onScenarioClick(scenario, i)">{{i + 1}}</button>
      </div>
      <button *ngIf="projectService.currentProject.scenarios.length < MAX_SCENARIO_THRESHOLD" type="button"
        class="btn btn-secondary round-button-end pager-number" (click)="onAddScenarioClick()">+</button>
      <button type="button" class="btn download delete-download" disabled="true">
        <svg-icon src="assets/img/ui-download.svg" class="svg-delete-download" [ngClass]="{'disabled': true}"></svg-icon>
      </button>
      <button type="button" class="btn delete-download" (click)="onDeleteClick()">
        <svg-icon src="assets/img/ui-delete.svg" class="svg-delete-download" [ngClass]="{'disabled': false}"></svg-icon>
      </button>
    </div>
  </div>
  <gbp-scenario name="scenario" [(scenarioModel)]="currentScenario"></gbp-scenario>
</div>
<div class="row save-cancel" *ngIf="areScenariosValid()">
  <button type="button" class="btn btn-primary calculate" (click)="calculateClick()" autofocus>{{
      'BUTTON_CALCULATE' | translate }}</button>
</div>