<div class="scenario-component">
  <form class="scenario-form" id="scenarioform" [formGroup]="scenarioForm">
    <div class="scenario-content">
      <div class="form-group row">
        <input type="text" id="id" formControlName="id" class="form-control col-sm-1" hidden>
      </div>
      <div class="form-group row">
        <input type="text" id="name" formControlName="name" class="form-control col-sm-10">
      </div>
      <div class="header measure">{{'MEASURE' | translate}}</div>
      <div class="measures">
        <gbp-measure id="measures" [measureForm]="scenarioForm.controls.measures" [measureModels]="measures"
          name="gbp-measure"></gbp-measure>
        <div class="row save-cancel" *ngIf="hasMeasures()">
          <button type="button" class="btn btn-secondary"
            (click)="cancelClick()">{{ 'BUTTON_CANCEL' | translate }}</button>
          <button type="button" class="btn btn-primary okay-button" (click)="saveClick()" autofocus>{{ 'BUTTON_SAVE'
                  | translate }}</button>
        </div>
      </div>
    </div>
  </form>
</div>