@import 'variables.scss';

$dialog-notice-panel-icon-size: 32px;
$dialog-notice-panel-icon-bar-size: 48px;
$dialog-notice-panel-padding: 15px;
$modal-panel-max-height: calc(100% - 2em);
$modal-panel-width: 500px;
$modal-title-size: 50px;
$modal-title-color: rgba(0, 0, 0, 0.75);
$base-header-color: white;

.gbp-modal-overlay {
  background-color: rgba(#29ABE2, 0.8);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1060;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gbp-modal {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.22), 0 17px 20px 0 rgba(0, 0, 0, 0.12);
  background-color: white;
  max-height: $modal-panel-max-height;
  width: $modal-panel-width;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;

  .gbp-modal-title {
    flex-shrink: 0;
    background-color: $base-header-color;
    color: $modal-title-color;
    font-size: 1.3rem;
    height: $modal-title-size;
    line-height: $modal-title-size;
    text-align: center;

    .close {
      height: $modal-title-size;
      width: $modal-title-size;
      line-height: $modal-title-size;
      font-size: 40px;
      font-weight: normal;
      color: $modal-title-color;
      opacity: 1;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      &:active {
        opacity: 0.75;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }

  .gbp-modal-body {
    padding: 1.2rem;
    overflow-y: auto;
    position: relative;
  }

  .gbp-modal-footer {
    flex-shrink: 0;

    hr {
      margin: 0;
    }

    & > div[footer] {
      padding: 1rem;
      padding-left: 0;

      & > * {
        margin-left: 1rem;
      }

      .expander {
        flex-grow: 1;
        visibility: hidden;
      }
    }
  }

  .spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
    text-align: center;
    z-index: 1050;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
}

.saved-notice {
  position: absolute;
  top: 0;
  left: 50%;
  color: black;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  z-index: 1060;
  opacity: 0;
  transition: opacity 0.5s;

  &.appear {
    opacity: 1;
  }

  .saved-notice-icon {
    float: left;
    width: $dialog-notice-panel-icon-bar-size;
    height: $dialog-notice-panel-icon-bar-size;
    background-repeat: no-repeat;
    background-size: $dialog-notice-panel-icon-size;
    background-position: center;
  }

  .saved-notice-text {
    float: left;
    margin: 13px;
  }
}
