@import 'variables.scss';

.header-component {
    height: $top-header-size;

    .gbp-logo {
        padding-top: 2rem;
    }
    
    .btn {
        display: flex;
        color: map-get($theme-colors, "primary");
    }
}